* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    
}
form {

    margin: 8px;
    padding: 24px 0;
    background-color: aqua;
    display: flex;
    border-radius: 02%;
    justify-content: center;
    
}
li {
    text-decoration: line-through;
}

button, input {
   
    padding: 10px;
    margin-left: 16px;
}
button {
    border: none;
    background-color: brown;
    cursor: pointer;
}
li {
    text-align: center;
}
body {
    background-color: rgb(125, 119, 110);
}
footer {
    position: absolute;
    bottom: 0;
    background-color: aqua;
    color:black;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}